@page "/"


<div class="row h-100" style="margin: 0;">
    <div class="col" style="background: red">
        <EmojiPicker/>
    </div>
    <div class="col col-lg-2" style="background: green;">
        <PackSelector/>
    </div>
</div>



