@inject AuthService auth
@inject NavigationManager nav

<div class="row" style="background: var(--background); height: 7%; overflow: hidden;">
    <MudText Style="margin: auto; margin-left: 30px" Typo="Typo.h6">
        @PackName
    </MudText>
    <MudFab Color="Color.Primary" IconSize="Size.Large" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Style="margin: auto; margin-right: 20px"/>
</div>

<div class="row" style="background: var(--background); height: 83%; overflow: hidden;">
    <div style="overflow-y: scroll; max-height: 83vh; padding-bottom: 200px">
        <div style="padding: 20px">
            @for (int i = 0; i < 50; i++)
            {
                if(i%2==0) {
                    <PrivateEmoji ImageSource="blobban.png"/>
                }
                else
                {
                    <PrivateEmoji ImageSource="rooPog.png"/>
                }
            }
        </div>
    </div>
</div>

<div class="row" style="background: var(--backgroundGrey); height: 10%">
    <div class="d-flex" style="margin: auto; margin-left: 20px; width: 100%; padding-right: 20px;">
        <div id="emojiPreviewBox">
            <img id="emojiPreviewBoxImage" src="@SelectedEmoji"/>
        </div>
        <div style="padding: 5px; padding-left: 20px">
            <MudText Typo="Typo.h6">Blob Ban Emoji (to be replaced)</MudText>
            <MudText Style="color: var(--textSecondary)" Typo="Typo.body1">Used 10 Times (to be replaced)</MudText>
        </div>
        <div class="ml-md-auto">
            
        </div>
        <div style="padding: 5px;">
            <MudTextFieldString Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search"
                                Label="Search for your emoji" Style="width: 400px"></MudTextFieldString>
        </div>
        <MudMenu Direction="Direction.Top" OffsetY="true" Icon="@Icons.Filled.AccountCircle" Size="Size.Large" Color="Color.Tertiary">
            <MudMenuItem OnClick="LogoutClicked">
                Logout
            </MudMenuItem>
        </MudMenu>
    </div>
</div>

<style>
    .mud-input-control, .mud-input-input-control {
        margin: 0;
    }
    #emojiPreviewBox {
        width: 60px;
        height: 60px;
        background: var(--surface);
        border-radius: 2px;
        display: inline-block;
        padding: 2px;
        position: relative;
    }
    #emojiPreviewBoxImage {
        object-fit: cover;
        height: 56px;
        width: 56px;
    }
</style>

@code {
    [Parameter]
    public string PackName { get; set; }

    public string SelectedEmoji { get; set; } = "blobban.png";

    private async Task LogoutClicked()
    {
        await auth.Logout();
        nav.NavigateTo("/login");
    }

}
