@*<h3>Pack Selector</h3>*@

<div class="row" style="background: var(--surface); height: 7%;">
    <MudText Style="margin: auto; margin-left: 30px" Typo="Typo.h6">
        Your Packs
    </MudText>
    <MudFab IconSize="Size.Large" Icon="@Icons.Material.Filled.Add" Size="Size.Small" Style=" margin: auto; margin-right: 20px; background: var(--textDisabled)" />
</div>

<div class="row" style="background: var(--surface); height: 85%;">
    <div style="overflow-y: scroll; max-height: 85vh; width: 100%;">
        <div style="padding: 20px;">
            @for (int i = 0; i < 30; i++)
            {
                <PackPreview />
            }
        </div>
    </div>
</div>

<div class="row" style="background: var(--surface); height: 8%;">
    <MudButton Variant="Variant.Filled" Size="Size.Large" Style="background: var(--background); margin: auto;">Get More</MudButton>
</div>
