@inject IDialogService dialog

<div class="row" style="background: var(--surface); height: 7%;">
    <MudText Style="margin: auto; margin-left: 30px" Typo="Typo.h6">
        Your Packs
    </MudText>
    <MudFab IconSize="Size.Large" Icon="@Icons.Material.Filled.Add" Size="Size.Small" Style=" margin: auto; margin-right: 20px; background: var(--textDisabled)" />
</div>

<div class="row" style="background: var(--surface); height: 85%;">
    <div style="overflow-y: scroll; width: 100%;">
        <div style="padding-top: 10px; padding-left: 20px">
            @for (int i = 0; i < 10; i++)
            {
                if (i % 2 == 0)
                {
                    <PackPreview PackSource="rooPog.png" PackName="PackNameHooray" />
                }
                else
                {
                    <PackPreview PackSource="rooPog.png" PackName="Pack Name" />
                }
            }
        </div>
    </div>
</div>

<div class="row" style="background: var(--surface); height: 8%;">
    <MudButton OnClick="ShowPublicEmojis" Variant="Variant.Filled" Size="Size.Large" Style="background: var(--background); margin: auto; top: -10px; height: 40px; font-size: 20px">Get More</MudButton>
</div>

@code
{
    private void ShowPublicEmojis()
    {
        dialog.Show<PublicEmojis>("", new DialogOptions()
        {
            CloseButton = true
        });
    }
}
